.headers{
    margin: auto;
    width: auto;
}
h1{
    color:black;
    font-weight: bold;
}
h2{
    color: grey;
}
img{
    height: 600px;
    border-radius: 50%;
}
figcaption{
    text-align: center;
}
body{
    width:100%;
    text-align: center;
    background-color: honeydew;
}
.wrapper{
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    width: 100%;
}
h3{
    size: 50px;
    font-size: larger;
}
.first .second{
    width: 50%;
    padding: 10px;
}